In [1]:
#Import libraries
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
#Show data
df = pd.read_csv('Salary_Data.csv')
df.sample(3)

    YearsExperience    Salary
23              8.2  113812.0
17              5.3   83088.0
2               1.5   37731.0

In [27]:
#Pick all but salary column and only salary column
x = df.iloc[:,:-1]
y = df.iloc[:,1]

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [17]:
#split dataset into train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 1/3)

In [29]:
#fitting simple linear regresion to training set
#simple regressor learned correlations b/w numb of yrs of experience and salary
#.linear_model = library, import a class 
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [39]:
#predict the test set results
#y_test = real salaries, y_pred = predicted salaries
y_pred = regressor.predict(x_test)
ex = pd.DataFrame(y_pred)
ex

               0
0   57653.846525
1   75537.538267
2   41652.648652
3   83067.513737
4   69890.056664
5   65183.821995
6  112246.168683
7  116952.403351
8   64242.575062
9  124482.378821

In [34]:
y_test

7      54445.0
16     66029.0
2      37731.0
18     81363.0
14     61111.0
11     55794.0
25    105582.0
26    116969.0
10     63218.0
28    122391.0
Name: Salary, dtype: float64