- Numbers: Integers, floats. Python 2 does not output floats unless you input float numbers. i.e 1/2 = 0 versus 1.0/2 = 0.5, or use the __future__ module to use Python 3 number properties
- Strings: Strings are immutable. Cannot reassign. Can use array properties like str[0] to get certain components of a string or str[::-1] to reverse a string
- Lists: List = [] to initalize. Have list methods, can do nested lists. Can have repeated values. Can use array index 
- Tuples: Tuples are immutable, have less number of methods: count and index.Have built in methods 
- Dictionaries: Dictionaries are mutable. Have a key and value. Can do nested dictionaries, or dictionaries with lists. Have built in methods like pop.

### Numbers 
Write an equation that uses multiplication, division an exponent and subtraction that is equal to 100.25

In [6]:
(5**3)/5 + 65.25 - (2*-5)

100.25

In [8]:
# prints out 0.666666, because python 3 uses true division not classic division
2/3

0.6666666666666666

- 4 * (6+5) = 44
- 4*6+5 = 29
- 4+6*5 = 34

In [11]:
# they follow order of operations 
4 * (6+5), 4*6+5 , 4+6*5

(44, 29, 34)

What is the type of 3+1.5+4 

Float

In [12]:
type(4+1.5+3)

float

What to use to find number's square root as well as square

x**1/2 

x**2

## Strings 
Given string 'hello' give an index command that returns 'e'. Use code below:

In [13]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

In [14]:
# Reverse the string using indexing
s[::-1]

'olleh'

In [19]:
l1 = [0,0,0]
l1

[0, 0, 0]

In [40]:
[0]*3

[0, 0, 0]

In [17]:
l2 = []
i = 0
while i<3:
    l2.append(0)
    i+=1
l2

[0, 0, 0]

In [20]:
# Reassign 'hello' in this nested list to say 'goodbye' item in this list: 
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

In [24]:
l = [4,3,5,5,6]
l.sort()
l

[3, 4, 5, 5, 6]

## DIctionaries 
Using keys and indexing, grab the 'hello' from the following dictionaries:

In [25]:
d = {'simple_key': 'hello'}
d['simple_key']

'hello'

In [26]:
d = {'k1': {'k2': 'hello'}}
d['k1']['k2']

'hello'

In [29]:
d = {'k1': [{'nest_key': ['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

No dictionaries cannot be sorted, because keys do not need to be sorted?

## Tuples 
What is the major difference between tuples and lists 

Tuples are immutable

## Sets 

What is unique about a set? 

Only takes unique values, no duplicates

In [30]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans 
For the following quiz questions, we will get a preview of comparison operators

In [31]:
# Answer before cell: False
2>3

False

In [32]:
# False
3 <= 2

False

In [33]:
# False
3==2

False

In [34]:
#True
3.0==3

True

In [38]:
#False, why not return negative 2 btw
4**0.5!=2

False

In [39]:
# two nested lists 
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# 3>=4 -> False
l_one[2][0]>=l_two[2]['k1']

False